<!DOCTYPE html>
<html>
<head lang="zh-cmn-Hans">
    <meta charset="UTF-8">
    <title>钱鹿--联系我们</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script>
        if(/Version\/8/i.test(navigator.userAgent) && (window.orientation === 0 || window.orientation === 180)) {
            viewport = document.querySelector("meta[name=viewport]");
            viewport.setAttribute('content', 'width=320, user-scalable=0');
        }
        else {
            viewport = document.querySelector("meta[name=viewport]");
            viewport.setAttribute('content', 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0');
        }
    </script>
    <meta name="keywords" content="钱鹿,手机赚钱,兼职,网络赚钱,任务奖励,应用">
    <meta name="description" content="钱鹿是一款让你随时随地做任务赚钱的APP。只要完成指定的简单的小任务，就能获得相应的金钱奖励，可以兑换成金钱钱存进支付宝，也可以充值话费等等。钱鹿希望把用户体验做到极致、给予用户最实在的奖励，成为一个人人信赖的互动平台！">
    <meta name="author" content="钱鹿">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://w.qiandeer.com/qd/static/images/destop/icon72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://w.qiandeer.com/qd/static/images/destop/icon120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://w.qiandeer.com/qd/static/images/destop/icon144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="512x512" href="http://w.qiandeer.com/qd/static/images/destop/icon512.png" />
    <meta name="format-detection" content="telephone=no" />
    <!-- 是否启用 WebApp 全屏模式 -->
    <meta name="renderer" content="webkit">
    <!-- 360用GCF渲染 -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <!-- 优先使用最新IE内核,chrome内核 -->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!-- 禁止百度转码 -->
    <link rel="stylesheet" href="/static/dist/070-common.css"/>
    <style>
        .g8 { color: #b0b0b0; }
    </style>
</head>
<body class="pt44">
    <div class="toolbar">
        <i class="ctr-btn ctr-left"><a href="/config"> < </a></i>
        <h1>联系我们</h1>
    </div>
    <div class="ui-panel ml8 mr8 pt12">
        <ul class="list list-border bgc-white">
            <li>
                <span class="fc-oranger">钱鹿官方Q群</span>
                <p class="mt12 g6 fs-14">389962418(唯一对外联系方式）</p>
            </li>
            <li>
                <span class="fc-oranger">工作时间</span>
                <p class="mt12 g6 fs-14">周一至周五 9:00 ~ 18:00（节假日休息）</p>
            </li>
            <li>
                <p class="fc-oranger">小贴士</p>
                <p class="mt12 g6 fs-14">
                    开始任务前，请先仔细阅读完成任务的条件。任务规定所需时间均为连续时间，中途退出重进，可能会重新计时，部分任务请尝试二次打开
                </p>
            </li>
        </ul>
    </div>
    <script src="/static/dist/070-common.js"></script>

</body>
</html>
