<!DOCTYPE html>
<html>
<head lang="zh-cmn-Hans">
    <meta charset="UTF-8">
    <title>钱鹿--资料</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script>
        if(/Version\/8/i.test(navigator.userAgent) && (window.orientation === 0 || window.orientation === 180)) {
            viewport = document.querySelector("meta[name=viewport]");
            viewport.setAttribute('content', 'width=320, user-scalable=0');
        }
        else {
            viewport = document.querySelector("meta[name=viewport]");
            viewport.setAttribute('content', 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0');
        }
    </script>
    <meta name="keywords" content="钱鹿,手机赚钱,兼职,网络赚钱,任务奖励,应用">
    <meta name="description" content="钱鹿是一款让你随时随地做任务赚钱的APP。只要完成指定的简单的小任务，就能获得相应的金钱奖励，可以兑换成金钱钱存进支付宝，也可以充值话费等等。钱鹿希望把用户体验做到极致、给予用户最实在的奖励，成为一个人人信赖的互动平台！">
    <meta name="author" content="钱鹿">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://w.qiandeer.com/qd/static/images/destop/icon72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://w.qiandeer.com/qd/static/images/destop/icon120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://w.qiandeer.com/qd/static/images/destop/icon144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="512x512" href="http://w.qiandeer.com/qd/static/images/destop/icon512.png" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="renderer" content="webkit">
    <!-- 360用GCF渲染 -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <!-- 优先使用最新IE内核,chrome内核 -->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!-- 禁止百度转码 -->
    <link rel="stylesheet" href="/static/dist/070-common.css"/>
    <style>
        .list { margin: 8px; }
        .list li { padding: 16px 12px; }
        .btn { padding: .625em 6em; }
        input[type="text"] { border: none; }
        input[name="avatar"] { opacity: 0; display:block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
        .avatar { border: 1px solid #f8f8f8; }
        input[name="birth"], #work { position: absolute; top: 0; right: 0; opacity: 0; }
    </style>
</head>
<body class="pt44" id="info-page">
    <div class="toolbar">
        <i class="ctr-btn ctr-left"><a href="/config"> < </a></i>
        <h1>资料</h1>
    </div>
    <div class="ui-page ui-page-active">
        <div class="ui-panel">
            <p class="task-tip fs-14 tac mt8 hide g6">完善所有资料，领取<span class="fc-oranger">+0.2元</span>新手任务奖励</p>
            <ul class="list list-border bgc-white mt5 ml8 mr8 fs-16">
                <li class="tac">
                    <div class="relative dib banner">
                        <form method="POST" action="/info/headimg" enctype="multipart/form-data">
                            <input type="file" name="avatar"/>
                            <img class="avatar dib mb6 circle" src="http://w.qiandeer.com/qd/static/images/blank.gif" width="64" height="64"/>
                            <p class="tac fs-12 avatar-change">点击头像可更换（不超过1M）</p>
                        </form>
                    </div>
                </li>
                <li class="box bac">
                    <span class="mr36">昵称</span>
                    <input class="ml24 flex1 form-field fc-gray tar" type="text" name="username" placeholder="昵称"/>
                </li>
                <li>
                    <span class="mr12">性别</span>
                    <div class="pull-right fc-gray box bac bpc">
                        <span class="box mr3">男</span>
                        <input class="box flex1 mr24" type="radio" name="sex" value=1 />
                        <span class="box mr3">女</span>
                        <input class="box flex1 tar" type="radio" name="sex" value=2 />
                    </div>
                </li>
                <li class="box flex1">
                    <span class="mr12 db flex1">生日</span>
                    <div class="relative tar" style="overflow: hidden; width: 150px; min-width: 150px;">
                        <p class="birth-text fc-gray"></p>
                        <input type="date" name="birth" style="display: -webkit-box; width: 300%; height: 100%;"/>
                    </div>
                </li>
                <li class="box flex1">
                    <span class="mr12 db flex1">职业</span>
                    <div class="relative tar" style="overflow: hidden; width: 150px; min-width: 150px;">
                        <p class="work-text fc-gray"></p>
                        <select id="work" name="work" style="width: 300%; height: 100%;">
                        </select>
                    </div>
                </li>
            </ul>
            <div class="tac mt12 pb12">
                <button id="btn-update" class="btn btn-success radius" type="button">提交</button>
            </div>
        </div>
    </div>
    <script id="tpl-alert" type="text/template">
        <div class="ui-panel ml12 mr12 p16 pt12 pb12 bgc-white round">
            <div class="box bac">
                <span class="box fs-20">提示</span>
            </div>
            <div class="mt12 g6">
                {=msg}
            </div>
            <div class="tac mt8">
                <a class="fs-14 btn-close btn btn-success btn-change mt12 radius mb5" href="###"> 确定 </a>
            </div>
        </div>
    </script>
    <script id="tpl-image" type="text/template">
        <div class="ui-panel ml12 mr12 p16 pt12 pb12 bgc-white round">
            <div class="box bac">
                <span class="box fs-20">提示</span>
            </div>
            <div class="mt12 g6 tac">
                <img class="upload-image" width="128" height="128"/>
                <p class="mt12">确定上传新头像？</p>
            </div>
            <div class="tac mt8">
                <a class="fs-14 btn-upload btn btn-success btn-change mt12 radius mb5" href="###"> 确定 </a>
                <a class="fs-14 btn-close btn btn-success btn-change mt12 radius mb5" href="###"> 取消</a>
            </div>
        </div>
    </script>

    <script src="/static/dist/070-common.js"></script>
    <script>
        var PD = {
            icon    : '{% if data['headimg'] %}{{ data['headimg'] }}{% else %}http://w.qiandeer.com/qd/static/images/icon_default.png{% end %}',
            username: "{% if data['username'] %}{{ data['username'] }}{% end %}",
            place   : "{% if data['place'] %}{{ data['place'] }}{% end %}",
            sex     : {{ data['sex'] }},
            birth   : parseInt({% if data['birth'] %}{{ data['birth'] }}{% else %}0{% end %}),
            work    : "{% if data['work'] %}{{ data['work'] }}{% end %}",
            works   : ['', '学生', '教师', '上班族', '老板', '公务员', '自由职业', '退休', '其他'],
        }



        $(function() {
            QL.Main.start('info');
        })
    </script>
</body>
</html>
