<!DOCTYPE html>
<html>
<head lang="zh-cmn-Hans">
    <meta charset="UTF-8">
    <title>钱鹿--常见问题</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script>
        if(/Version\/8/i.test(navigator.userAgent) && (window.orientation === 0 || window.orientation === 180)) {
            viewport = document.querySelector("meta[name=viewport]");
            viewport.setAttribute('content', 'width=320, user-scalable=0');
        }
        else {
            viewport = document.querySelector("meta[name=viewport]");
            viewport.setAttribute('content', 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0');
        }
    </script>
    <meta name="keywords" content="钱鹿,手机赚钱,兼职,网络赚钱,任务奖励,应用">
    <meta name="description" content="钱鹿是一款让你随时随地做任务赚钱的APP。只要完成指定的简单的小任务，就能获得相应的金钱奖励，可以兑换成金钱钱存进支付宝，也可以充值话费等等。钱鹿希望把用户体验做到极致、给予用户最实在的奖励，成为一个人人信赖的互动平台！">
    <meta name="author" content="钱鹿">
    <meta name="renderer" content="webkit">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://w.qiandeer.com/qd/static/images/destop/icon72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://w.qiandeer.com/qd/static/images/destop/icon120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://w.qiandeer.com/qd/static/images/destop/icon144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="512x512" href="http://w.qiandeer.com/qd/static/images/destop/icon512.png" />
    <meta name="format-detection" content="telephone=no" />
    <!-- 360用GCF渲染 -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <!-- 优先使用最新IE内核,chrome内核 -->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!-- 禁止百度转码 -->
    <link rel="stylesheet" href="/static/dist/070-common.css"/>
    <style>
        ol { padding: 0; margin-left: 24px;}
        ol li { line-height: 1.5em; }
        p { line-height: 1.5em; }
    </style>
</head>
<body class="pt44">
    <div class="toolbar">
        <i class="ctr-btn ctr-left"><a href="/config"> < </a></i>
        <h1>常见问题</h1>
    </div>
    <div class="ui-panel ml8 mr8 mt12 pb12 fs-16">
        <p class="mt12 ml5 fc-oranger">为什么能赚钱？</p>
        <div class="bgc-white mt12 p12 pt12 pb12 g6 fs-14">
            <p class="ml8">
                用户完成广告联盟商指定的任务，即完成了广告推广行为，获得相应的报酬，此奖励为劳动所得，由广告联盟商支付相应报酬。
            </p>
        </div>
        <p class="mt12 ml5 fc-oranger">作弊行为的判定</p>
        <div class="bgc-white mt12 p12 pt12 pb12 g6 fs-14">
            <ol class="">
                <li>
                    付费任务，如使用共享ID获得积分，“工作室”采用大量手机，流水作业获得积分都将视为作弊
                </li>
                <li>
                    同一台设备，无论以什么方式刻意地重复做任务，刷机做任务，刷徒弟做任务都将视为作弊
                </li>
                <li>
                    所有的兑换行为，均由纯人工审核，非常严格。请同学们切勿因小失大，上述行为一旦发现，立即冻结，且将永不在解封。请各位<span class="fc-oranger">鹿茸</span>知晓。
                </li>
            </ol>
            <span class="mt8 db ml8">
            【请大家珍惜自己的唯一ID，您的每一位真实徒弟所产生的收入，我们将额外给您最高<span class="fc-oranger">10%</span>的奖励，并终身受用，我们每天兑换出去的奖金超过<span class="fc-oranger">数十万</span>，绝不会对真正的用户和您辛苦招来的徒弟进行恶意冻结】
            </span>
        </div>
        <p class="mt12 ml5 fc-oranger">如何宣传？</p>
        <div class="bgc-white mt12 p12 pt12 pb12 fs-14">
            <p class="ml8">
                进入方式为：手机自带的Safari浏览器输入域名网址【<span class="fc-oranger">qiandeer.com</span>】来参与赚钱，将先后增加：“每日开奖”、“ 有奖转发”、“超级返利”等，还有大家期待的官方论坛。
            </p>
            <p class="mt8 ml8">
                【收徒从此变得更加简单，让徒弟手机Safari浏览器打开网址<span class="fc-oranger">qiandeer.com</span>，按步骤完成登录之后，输入您的邀请码即可】
            </p>
            <p class="mt8 ml8">
            感谢小伙伴们的一路陪伴与理解，我们一直在努力。
            </p>
        </div>
        <p class="mt12 ml5 fc-oranger">没有获得积分怎么办？</p>
        <div class="bgc-white mt12 p12 pt12 pb12 fs-14">
            <p class="ml8">
                首先我们深表歉意，由于广告主条件参差不齐，并不是所有任务都能实现100%返还。我们正在研发更多好玩有趣的功能。定能给你们更多的惊喜。若没有获取积分解决方案如下：
                请检查是否按要求完成了任务，如：
            </p>
            <ol class="mt8">
                <li>
                    必须<span class="fc-oranger">首次安装</span>，以前安装过，删除再安装无效
                </li>
                <li>
                    必须完成任务的<span class="fc-oranger">要求</span>，比如注册、体验数分钟等
                </li>
            </ol>
            <p class="mt8 ml8">
                如果确认没问题，请向我们反馈该广告，我们将及时为你解决问题。
            </p>
        </div>
        <p class="mt12 ml5 fc-oranger">如何做到月入数千？</p>
        <div class="bgc-white mt12 p12 pt12 pb12 fs-14">
            <p class="ml8">
                坚持以下两个步骤：
            </p>
            <ol>
                <li>
                    任务每天都会变化，所有任务都是<span class="fc-oranger">限时限量</span>，下午的任务最多，所以要经常看看。
                </li>
                <li>
                    通过QQ、微信、论坛等推广自己的ID，成为师傅之后，永久享受徒弟的收入奖励，徒弟越多越好。
                </li>
            </ol>

        </div>
    </div>
    <script src="/static/dist/070-common.js"></script>
</body>
</html>
