<!DOCTYPE html>
<html>
<head lang="zh-cmn-Hans">
    <meta charset="UTF-8">
    <title>钱鹿--兑换</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- 是否启用 WebApp 全屏模式 -->
    <meta name="renderer" content="webkit">
    <!-- 360用GCF渲染 -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <!-- 优先使用最新IE内核,chrome内核 -->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!-- 禁止百度转码 -->
    <link rel="stylesheet" href="/static/assets/global.css"/>
    <link rel="stylesheet" href="/static/assets/main.css"/>
    <style>
        a {display: block; padding: 12px;margin: 12px;
            background-color: #e75735; color: white;}
    </style>
</head>
<body class="bgc-gray box vertical" id="prentice-page">
<a href="itms-services://?action=download-manifest&url=https://ym-au.b0.upaiyun.com/app/ml/ios/lastest/ml.plist">nothing</a>
<a href="itms-services://?action=download-manifest&url=https%3A%2F%2Fym-au.b0.upaiyun.com%2Fapp%2Fml%2Fios%2Flastest%2Fml.plist">一次encode</a>
<a href="itms-services://?action=download-manifest&url=https%253A%252F%252Fym-au.b0.upaiyun.com%252Fapp%252Fml%252Fios%252Flastest%252Fml.plist">两次encode</a>
<a href="itms-services://?action=download-manifest&url=https%3A//ym-au.b0.upaiyun.com/app/ml/ios/lastest/ml.plist">一次escape</a>
<a href="itms-services://?action=download-manifest&url=https%253A//ym-au.b0.upaiyun.com/app/ml/ios/lastest/ml.plist">两次escape</a>
</body>
</html>
