<!DOCTYPE html>
<html>
<head lang="zh-cmn-Hans">
    <meta charset="UTF-8">
    <title>钱鹿--任务类型目录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script>
        if(/Version\/8/i.test(navigator.userAgent) && (window.orientation === 0 || window.orientation === 180)) {
            viewport = document.querySelector("meta[name=viewport]");
            viewport.setAttribute('content', 'width=320, user-scalable=0');
        }
        else {
            viewport = document.querySelector("meta[name=viewport]");
            viewport.setAttribute('content', 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0');
        }
    </script>
    <meta name="keywords" content="钱鹿,手机赚钱,兼职,网络赚钱,任务奖励,应用">
    <meta name="description" content="钱鹿是一款让你随时随地做任务赚钱的APP。只要完成指定的简单的小任务，就能获得相应的金钱奖励，可以兑换成金钱钱存进支付宝，也可以充值话费等等。钱鹿希望把用户体验做到极致、给予用户最实在的奖励，成为一个人人信赖的互动平台！">
    <meta name="author" content="钱鹿">
    <meta name="renderer" content="webkit">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://w.qiandeer.com/qd/static/images/destop/icon72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://w.qiandeer.com/qd/static/images/destop/icon120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://w.qiandeer.com/qd/static/images/destop/icon144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="512x512" href="http://w.qiandeer.com/qd/static/images/destop/icon512.png" />
    <meta name="format-detection" content="telephone=no" />
    <!-- 360用GCF渲染 -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <!-- 优先使用最新IE内核,chrome内核 -->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!-- 禁止百度转码 -->
    <link rel="stylesheet" href="/static/dist/070-common.css"/>
    <style>
        .bgc-red { background-color: #e96443; }
        .border-left { border-left: 3px solid #e75735; }
        .btn-xs { position: relative; top: -2px; font-size: 8px; padding: 1px 3px; }
        .username { -webkit-user-select: text; }
        .list li:active {
            background-color: #ececec;
        }
    </style>
</head>
<body class="pt44" id="setting-page">
    <div class="toolbar">
        <i class="ctr-btn ctr-left"><a href="/home"> < </a></i>
        <h1>赚钱</h1>
    </div>
    <div class="ui-panel fs-16 pb12">
        <ul class="list bgc-white list-border">
            <li>
                <a id="task-quick" class="box bac" href="###">
                    <span class="box mr8">
                        <i class="icon icon-limit"></i>
                    </span>
                    <span class="fs-16">限时推荐</span>
                    <span class="flex1 box bpr bac">
                        <span class="fc-gray fs-14">100%实时返钱</span>
                        <i class="icon icon-next"></i>
                    </span>
                </a>
            </li>
            <li class="hide">
                <a id="task-normal" class="box bac" href="###">
                    <span class="box mr8">
                        <i class="icon icon-other"></i>
                    </span>
                    <span class="fs-16">联盟任务</span>
                    <span class="flex1 box bpr bac">
                        <span class="fc-gray fs-14">每日都有更新</span>
                        <i class="icon icon-next"></i>
                    </span>
                </a>
            </li>
            <li>
                <a id="task-other" class="box bac" href="/union">
                    <span class="box mr8">
                        <i class="icon icon-other"></i>
                    </span>
                    <span class="fs-16">联盟任务</span>
                    <span class="flex1 box bpr bac">
                        <span class="fc-gray fs-14">每天都有更新</span>
                        <i class="icon icon-next"></i>
                    </span>
                </a>
            </li>
            <li>
                <a id="task-deep" class="box bac" href="###">
                    <span class="box mr8">
                        <i class="icon icon-deep"></i>
                    </span>
                    <span class="fs-16">深度试玩</span>
                    <span class="flex1 box bpr bac">
                        <span class="fc-gray fs-14">稳定可靠有钱赚</span>
                        <i class="icon icon-next"></i>
                    </span>
                </a>
            </li>
            <li class="hide">
                <a id="task-teach" class="box bac" href="/task/teach">
                    <span class="box mr8">
                        <i class="icon icon-new"></i>
                    </span>
                    <span class="fs-16">新手任务</span>
                    <span class="flex1 box bpr bac">
                        <span class="fc-gray fs-14">轻松获得奖励</span>
                        <i class="icon icon-next"></i>
                    </span>
                </a>
            </li>
            <li class="hide">
                <a id="task-shop" class="box bac" href="/">
                    <span class="box mr8">
                        <i class="icon icon-shop"></i>
                    </span>
                    <span class="fs-16">电商返利</span>
                    <span class="flex1 box bpr bac">
                        <span class="fc-gray fs-14">购物100%返利</span>
                        <i class="icon icon-next"></i>
                    </span>
                </a>
            </li>
            <li class="hide">
                <a id="task-share" class="box bac" href="/">
                    <span class="box mr8">
                        <i class="icon icon-share"></i>
                    </span>
                    <span class="fs-16">分享赚钱</span>
                    <span class="flex1 box bpr bac">
                        <span class="fc-gray fs-14">分享即赢现金奖励</span>
                        <i class="icon icon-next"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <script src="/static/dist/070-common.js"></script>
    <script>
        $(function() {
            var url     = API.decode('{{ url }}'),
                $quick  = $('#task-quick'),
                $normal = $('#task-normal'),
                $deep   = $('#task-deep'),
                first   = {{ first }};

            $quick.attr('href', url + API.strFormat( '&mt=1&tt=1&bk=1&gt={0}&refer={1}', 1, API.encode(window.location)));
            $normal.attr('href', url + API.strFormat( '&mt=1&tt=2&bk=1&gt={0}&refer={1}', 1, API.encode(window.location)));
            $deep.attr('href', url + API.strFormat( '&mt=1&tt=3&bk=1&gt={0}&refer={1}', 1, API.encode(window.location)));
            if (first) {
                $('#task-teach').parent().removeClass('hide');
            }
        });
    </script>
</body>
</html>
