<!DOCTYPE html>
<html>
<head lang="zh-cmn-Hans">
    <meta charset="UTF-8">
    <title>钱鹿 - 维护中</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script>
        if(/Version\/8/i.test(navigator.userAgent) && (window.orientation === 0 || window.orientation === 180)) {
            viewport = document.querySelector("meta[name=viewport]");
            viewport.setAttribute('content', 'width=320, user-scalable=0');
        }
        else {
            viewport = document.querySelector("meta[name=viewport]");
            viewport.setAttribute('content', 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0');
        }
    </script>
    <meta name="keywords" content="钱鹿,手机赚钱,兼职,网络赚钱,任务奖励,应用">
    <meta name="description" content="钱鹿是一款让你随时随地做任务赚钱的APP。只要完成指定的简单的小任务，就能获得相应的金钱奖励，可以兑换成金钱钱存进支付宝，也可以充值话费等等。钱鹿希望把用户体验做到极致、给予用户最实在的奖励，成为一个人人信赖的互动平台！">
    <meta name="author" content="钱鹿">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://w.qiandeer.com/qd/static/images/destop/icon72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://w.qiandeer.com/qd/static/images/destop/icon120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://w.qiandeer.com/qd/static/images/destop/icon144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="512x512" href="http://w.qiandeer.com/qd/static/images/destop/icon512.png" />
    <meta name="renderer" content="webkit">
    <!-- 360用GCF渲染 -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <!-- 优先使用最新IE内核,chrome内核 -->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!-- 禁止百度转码 -->
    <link rel="stylesheet" href="/static/dist/070-common.css"/>
    <style>
        html, body { height: 100%; width: 100%; -webkit-box-sizing: border-box; }
    </style>
</head>
<body class="pt44 box">
    <div class="toolbar">
        <h1>温馨提示</h1>
    </div>
    <div class="flex1 ui-panel ml8 mr8 tac box vertical bac bpc">
        <img class="dib mb24" src="http://w.qiandeer.com/qd/static/images/error/pic_fixed.png" width="123" height="158">
    </div>
    <div class="tac mt24 hide">
        <a class="btn btn-m btn-success radius mr12" onclick="history.back(); return false;">返回上一页</a>
        <a class="btn btn-m btn-success radius" href="/home">主页</a>
    </div>
    <script src="/static/dist/070-common.js"></script>
</body>
</html>
